*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 98vw;
   background-color: aqua; 
}
.container{
  width: 40vw;
  height: 70vh;
  /* display: grid; 
  grid-template:repeat(6,1fr)/repeat(6,1fr); */
  background-color:black
}
.square{
  background-color: white;
  border: 1px solid skyblue;
  font-weight: 5;
}
.inputs{
  display: flex;
  flex-direction: row;
}
/* .nextlevel{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(128, 128, 128);
  width: 5rem;
  height: 2rem;
  margin-top: 20px;
  margin-left: 12rem;
 border-radius: 40%;
}
.btn{
  width: 5rem;
  height: 2rem;
  border-radius: 50%;
}
.hearts{
  margin: 1rem;
} */
/* .save{} */